<div style="position: absolute;">
    <div style="width: 400px; padding: 10px 30px;  background: #eee;">
        <h4 style="padding: 8px 6px; color: #DA534B; margin: 0;">Message from Portfolio</h4>
        <div style="background: #eee">
            <p style="color: rgb(33, 35, 41); padding: 10px; margin: 0; font: 14px 'segoe ui'; line-height: 1.5em;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui fuga aliquam repellendus culpa quas praesentium fugiat distinctio ad, similique corrupti ipsa quod laborum quisquam, doloribus vero alias nobis, voluptatum neque.</p>
        </div>
        <div style="border-top: 1px solid #ccc; width: 100%;">
            <p style="color: rgb(33, 35, 41); line-height: 1.5em;">
                <b>From:</b> sender@gmail.com <br>
                <b>Username:</b> John doe <br>
                <b>Date:</b> 01/08/2022 10:56
            </p>
        </div>
    </div>
</div>