<div class="container">
  <div class="header">
    <div class="header-top" id="header-top">
      <div class="logo">
        <p class="logo-link">
          MY <span>PORTFOLIO</span>
        </p>
      </div>
    </div>
    <div class="header-middle" id="header-middle">
      <div class="menu">
        <a href="#about" class="menu-item">About</a>
        <a href="#skill" class="menu-item">Skills</a>
        <a href="#project" class="menu-item">Projects</a>
        <a href="#contact" class="menu-item">Contact</a>
      </div>
    </div>
    <div class="header-right"></div>
  </div>
  <div class="body">
    <div class="section welcome-section">
      <svg viewBox="0 0 1440 319" class="welcome-bg">
        <path fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg>
      <div class="welcome-section-content">
        <div class="welcome-logo"></div>
        <div class="welcome-content">
          <h3 class="welcome-title">Welcome</h3>
          <p class="welcome-text">Dear guests, look around you! An amiable welcome full of friendship is yours.</p>
        </div>
      </div>
    </div>
    <div class="section profile-section" id="about">
      <h4 class="section-title">ABOUT</h4>
      <div class="profile-container">
        <div class="my-pic">
          <!-- <img src="https://scontent.ftnr5-1.fna.fbcdn.net/v/t39.30808-6/258316328_892395331411420_8812921627191996640_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGhJn1BX6DvzHcXaV1JXrjKzwjrL7rhzf3PCOsvuuHN_Vctojpw8AUbMj-Nc6E_SN4nvQ7CRwmfyACa7K0F1WZI&_nc_ohc=ADIq-NDs8roAX8xe3sy&_nc_ht=scontent.ftnr5-1.fna&oh=00_AT8T3840HhCV1jxAZcj9avtS82LxI8XRw9pS_UpqCp0zDw&oe=62E5FCF6" alt="my profile"/> -->
          <img src="https://cdn.business2community.com/wp-content/uploads/2014/08/My_profile-orange.png" alt="my profile"/>
        </div>
        <div class="my-info">
          <div class="my-info-content">
            <p>Hi, I am Njato. My fullname is ANDRIAMANIRISOA Njatotiana Fiononana. I come from Madagascar and i am malagasy people. Actually, i live in Antananarivo.</p>
            <p>I started coding at 19 years old. It becomes my life as well as i work as a developer now. I am interesting in web developpement, desktop and mobile application. I usually work as fullstack developer in my work. However, i am able to work on team either as backend or as frontend.<p>
          </div>
        </div>
      </div>
    </div>
    <div class="section skill-section" id="skill">
      <h4 class="section-title">SKILLS</h4>
      <div class="prog-lang-list">
        <h4 class="skill-title">All programming languages i have learnt.</h4>
        <div class="prog-lang-item">
          <img src="img/svg/html5-without-wordmark-color.svg" alt="" class="prog-lang-img">
          <p class="prog-lang-desc">HTML</p>
        </div>
        <div class="prog-lang-item">
          <img src="img/svg/css-3-seeklogo.com.svg" alt="" class="prog-lang-img">
          <p class="prog-lang-desc">CSS</p>
        </div>
        <div class="prog-lang-item">
          <img src="img/svg/javascript-logo-svg-vector.svg" alt="" class="prog-lang-img">
          <p class="prog-lang-desc">Javascript</p>
        </div>
        <div class="prog-lang-item">
          <img src="img/svg/php-logo-svg-vector.svg" alt="" class="prog-lang-img">
          <p class="prog-lang-desc">PHP</p>
        </div>
        <div class="prog-lang-item">
          <img src="img/svg/java-seeklogo.com.svg" alt="" class="prog-lang-img">
          <p class="prog-lang-desc">Java</p>
        </div>
        <div class="prog-lang-item">
          <img src="img/svg/react-logo-svg-vector.svg" alt="" class="prog-lang-img">
          <p class="prog-lang-desc">ReactJS</p>
        </div>
        <div class="prog-lang-item">
          <img src="img/svg/nodejs-icon-logo-svg-vector.svg" alt="" class="prog-lang-img">
          <p class="prog-lang-desc">NodeJS</p>
        </div>
      </div>
    </div>
    
    <div class="section project-section" id="project">
      <h4 class="section-title">Some Projects</h4>
      <div class="project-container">
        <div class="project-item">
          <p class="project-desc">1 - This little game project called QUIZ is just made by using ReactJS</p>
          <div class="project-content">
            <div class="project-view">
              <img src="img/app/quiz-app.PNG" alt="quiz-react">
            </div>
          </div>
          <a class="project-link" href="https://dashboard.heroku.com/apps/quizreact-30130">See app </a>
        </div>
        <div class="project-item">
          <p class="project-desc">2 - Stock management application done by using NodeJS and MongooDB.</p>
          <div class="project-content">
            <div class="project-view">
              <img src="img/app/stock-app.PNG" alt="quiz-react">
            </div>
          </div>
          <a class="project-link" href="https://demo-stock-nate.herokuapp.com/login"> <i class="fab fa-heroku"></i> See app </a>
        </div>
        <div class="project-item">
          <p class="project-desc">3 - GAZETTE Application, a platform application to process data by stocking them in a xml file.</p>
          <div class="project-content">
            <div class="project-view">
              <img src="img/app/gazette-app.PNG" alt="quiz-react">
            </div>
          </div>
          <a class="project-link" href="https://optimumsolutions-gazette2.herokuapp.com/">See app </a>
        </div>
      </div>
    </div>
    <div class="section contact-section" id="contact">
      <h4 class="section-title">Contact me</h4>
      <div class="form">
        <form action="/message" method="post" class="my-form">
          <h4 class="form-title">Please, fill in the form.</h4>
          <div class="form-group">
            <label for="name">Your name:</label>
            <input type="text" id="name" placeholder="Enter your name here">
            <small>This is required</small>
          </div>
          <div class="form-group">
            <label for="email">Your email:</label>
            <input type="email" id="email" placeholder="Enter your email ex: njato@gmail.com">
            <small>This is required</small>
          </div>
          <div class="form-group">
            <label for="message">Your message:</label>
            <textarea row="40" col="100" id="message"></textarea>
            <small>This is required</small>
          </div>
          <div class="form-group">
            <button type="submit">Send email</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-container">
      <div class="link">
        <a href="#">
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <div class="copyright">
        <p>Copyright© 2022 by Njato - Any reproduction is prohibited.</p>
      </div>
    </div>
  </div>
</div>
<script src="/js/toast.js"></script>
<script>
  
  document.forms[0].addEventListener('submit', e => {
    e.preventDefault();
    // info to send
    const username = document.getElementById('name');
    const useremail = document.getElementById('email');
    const message = document.getElementById('message');
    
    const submitBtn = document.querySelector("button[type='submit']");
    let btnText = submitBtn.textContent;

    var http = new XMLHttpRequest();
    http.open("POST", e.target.action, true);
    http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    http.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        let json = JSON.parse(this.response);
        if (json.status) {
          useremail.value = ''; username.value = ''; message.value = '';
          Toast({position: 'alert-bottom-center', color: 'alert-green', message: json.message});
        } else {
          Toast({position: 'alert-bottom-center', color: 'alert-red', message: json.message});
        }
        submitBtn.disabled = false;
        submitBtn.textContent = btnText;
      }
    };

    // remove is invalid
    username.classList.remove('is-invalid');
    useremail.classList.remove('is-invalid');
    message.classList.remove('is-invalid');

    var valid = true;
    var regex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;

    if (username.value.trim().length === 0) {
      username.classList.add('is-invalid');
      valid = false;
    }
    if (useremail.value.trim().length === 0 || !regex.test(useremail.value)) {
      useremail.classList.add('is-invalid');
      valid = false;
    }
    if (message.value.trim().length === 0) {
      message.classList.add('is-invalid');
      valid = false;
    }

    if (valid) {
      http.send(`senderUsername=${username.value}&senderEmail=${email.value}&message=${message.value}`);
      submitBtn.disabled = true;
      submitBtn.textContent = 'Sending...';
    }
  });

</script>